.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 120px 0 120px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar div {
  display: flex;
  gap: 8px;
}

.navbar .logo img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navbar .logo p {
  margin: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 120px;
  gap: 40px;
}

.navbar ul li {
  margin-right: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
}

.navbar .actions {
  display: flex;
  align-items: center;
}

.navbar .actions a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.navbar .actions .cadastrar-button {
  padding: 10px 18px 10px 18px;
  border: 1px;
  border-radius: 8px;
  background-color: #8E2424;
  color: white;
}

.intro {
  display: flex;
  padding: 6rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

.intro-container {
  text-align: center;
}

.text-sobre {
  height: 24px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  color: #8E2424;
}

.titulo-intro {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75rem; /* 125% */
  letter-spacing: -0.06rem;
}

.text-intro {
  width: 791px;
  height: 83px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #667085;
}

.metricas{
  padding: 0 90px 0 90px;
  height: 288px;
}

.metricas .container .content ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-self: stretch;
  list-style-type: none;
}

.metricas .container .content ul li{
  flex: 1;
}

.metricas .container .content ul li h2 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.5rem;
  letter-spacing: -0.075rem;
  color: #8E2424;
}

.metricas .container .content ul li .metrica-texto-1 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  color: #101828;
}

.metricas .container .content ul li .metrica-texto-2 {
  color: #667085;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}



.vagas-abertas {
  padding: 60px 100px;
	text-align: center;
}

.vagas-abertas span {
  font-size: 14px;
	color: #8E2424;
	background: rgba(142, 36, 36, 0.05);
	border-radius: 16px;
	padding: 4px 12px;
  font-weight: 500;
}

.vagas-abertas h3 {
  margin-top: 1rem;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem; /* 122.222% */
  letter-spacing: -0.045rem;
}

.vagas-texto {
  color: #667085;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
  
}

.vagas-imagem {
  width: 100%;
  height: 25rem;
  flex-shrink: 0;
  margin-top: 2rem;
}

.vagas-disponivel-titulo{
  margin: 2em 15em;
  text-align: left;
}

.titulo-vaga-disponivel{
  font-size: 20px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 2em 1em 2em 1em;
}

.vagas-disponivel-container{
  border: 2px solid #EAECF0;
  margin: 1em;
  padding: 1em;
  border-radius: 16px;
  list-style-type: none;
}

.descricao-vaga-container {
  display: flex;
  gap: 1.5rem;
}

.descricao-vaga {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  color: #667085;
}

.sobre-colaboradores {
  border-radius: 1rem;
  background: rgba(195, 25, 25, 0.03);
  margin: 0 90px 0 90px;
}

.colaboradores-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.colaboradores-subtitulo {
  color: #8E2424;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
}

.colaboradores-titulo {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.75rem; /* 122.222% */
  letter-spacing: -0.045rem;
  text-align: center;
  width: 68rem;
  margin-bottom: 2rem;
}

.colaboradores-container img {
  width: 3.5rem;
  height: 3.5rem;
}

.nome-pessoa {
  align-self: stretch;
  color: #101828;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  width: 100%;
  height: auto;
  margin-block-end: 0;
}

.role-pessoa {
  color: #667085;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#F9FAFB;
  padding: 6rem 0rem;
}

.titulo-footer {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem; /* 122.222% */
  letter-spacing: -0.045rem;
  color: #101828;
  margin-bottom: 1.25rem;
}

.subtitulo-footer {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  color: #667085;
  margin-bottom: 2.5rem;
}

.form-input {
  border-radius: 0.5rem;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 0.75rem 0.875rem 0.75rem 1rem;
}

.button-input {
  border-radius: 0.5rem;
  border: 1px solid #8E2424;
  background: #8E2424;
  padding: 0.75rem 1.25rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #FFFFFF;
  margin-bottom: 2rem;
}

/* Small Screens (Mobile Phones) */
@media screen and (max-width: 767px) {
  .navbar {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }

  .navbar ul {
    display: none;
  }

  .navbar .actions {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .navbar .actions a {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .intro {
    padding: 1.5rem;
  }

  .intro .titulo-intro {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text-intro {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .metricas {
    padding: 0 20px;
    height: auto;
    text-align: center; /* Center text horizontally */
  }

  .metricas .container .content ul {
    flex-direction: column;
    gap: 1rem;
  }

  .metricas .container .content ul li {
    flex: none;
  }

  .metricas .container .content ul li h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    
  }
  .vagas-abertas {
    padding: 40px 20px;
  }

  .vagas-abertas h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .vagas-texto {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .vagas-imagem {
    height: auto;
    max-width: 100%; 
  }

  .vagas-disponivel-titulo {
    margin: 2em 20px; 
    
  }

  .vagas-disponivel-titulo h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1em 1rem 0;
  }

  .vagas-disponivel-container,
  .descricao-vaga-container {
    padding: 0;
    margin-left: 1rem;
  }

  .sobre-colaboradores {
    width: 100%;
    margin: 0 -5px;
  }

  .colaboradores-container {
    padding: 10px;
  }

  .colaboradores-titulo {
    font-size: 1.2rem;
    
    line-height: 2rem;
    width: 100%; 
  }

  .colaboradores-container img {
    width: 70px;
    height: 70px;
  }

  .nome-pessoa,
  .role-pessoa {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }

  .footer {
    padding: 3rem 20px;
  }

  .titulo-footer {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .subtitulo-footer {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }

  .form-input {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.button-input {
    flex-grow: 1;
}
}